<%- include('../layout/head.ejs'); %>
<!-- Page Wrapper -->
<div id="wrapper">

   <%- include('../include/sidebar.ejs'); %>
   <!-- End of Sidebar -->

   <!-- Content Wrapper -->
   <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

         <!-- Topbar -->
         <%- include('../include/navigation.ejs'); %>
         <!-- End of Topbar -->

         <!-- Begin Page Content -->
         <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Employees Added By
               <%= typeof companyName !='undefined' ? companyName : ''%></h1>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
               <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Some Employees</h6>
               </div>
               <div class="card-body">
                  <%- include('../partials/messages.ejs'); %>
                  <div class="table-responsive">
                     <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                           <tr>
                              <th>Name</th>
                              <th>Year</th>
                              <th>Month</th>
                              <th>Download</th>
                           </tr>
                        </thead>

                        <% if (employees.length > 0) {%>
                        <tbody>
                           <%for (let employee of employees) {%>
                           <tr>
                              <td><%= employee.name%></td>
                              <form action="/api/v1/employee/<%= employee._id%>/attendence" method="GET">
                                 <td>
                                    <select name="year" class="form-control">
                                       <option value="">Select Year</option>
                                       <option value="2020">2020</option>
                                       <option value="2021">2021</option>
                                       <option value="2022">2022</option>
                                       <option value="2023">2023</option>
                                    </select>
                                 </td>
                                 <td>
                                    <select name="month" class="form-control" id="month">
                                       <option value="">Select Month</option>
                                       <option value="1">1</option>
                                       <option value="2">2</option>
                                       <option value="3">3</option>
                                       <option value="4">4</option>
                                       <option value="5">5</option>
                                       <option value="6">6</option>
                                       <option value="7">7</option>
                                       <option value="8">8</option>
                                       <option value="9">9</option>
                                       <option value="10">10</option>
                                       <option value="11">11</option>
                                       <option value="12">12</option>
                                    </select>
                                 </td>
                                 <td><input type="submit" value="download" class="btn btn-primary" /></td>
                              </form>
                           </tr>
                           <% } %>
                        </tbody>
                        <%} else {%>
                        <h1>Emplyees not found....</h1>
                        <% } %>

                     </table>
                  </div>
               </div>
            </div>

            <div class="card shadow m-4 p-4">
               <div class="row">
                  <div class="col-md-12">
                     <h3>Download Attendence Current Date</h3>
                     <a href="/api/v1/employee/currentDate" class="btn btn-primary mt-3">Download</a>
                  </div>
               </div>
            </div>

            <div class="card shadow m-4 p-4">
               <div class="row">
                  <div class="col-md-6">
                     <h3>Download attendence by date</h3>
                  </div>
                  <div class="col-md-6">
                     <form action="/api/v1/employee/attendenceByDate" method="get">
                        <select id="date" name="date" class="form-control">
                           <option value="">Please select date</option>
                           <%for (let i = 1; i <= 31; i++) {%>
                           <option value="<%= i%>"><%= i%></option>
                           <% } %>
                        </select>
                        <input type="submit" value="download" class="btn btn-primary mt-3">
                     </form>
                  </div>
               </div>
            </div>

         </div>

      </div>

   </div>
   <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
   <div class="container my-auto">
      <div class="copyright text-center my-auto">
         <span>Copyright &copy; Your Website 2020</span>
      </div>
   </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<%- include('../layout/end.ejs'); %>