<%- include('../layout/head.ejs'); %>
<div style="background: #FBCC06; height: 100vh;">
   <div class="container">

      <!-- Outer Row -->
      <div class="row justify-content-center">

         <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
               <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="p-5">
                           <div class="text-center">
                              <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                              <p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll
                                 send
                                 you a link to reset your password!</p>
                           </div>
                           <form class="user" action="/user/newPassword" method="POST">
                              <%- include('../partials/messages.ejs'); %>
                              <div class="form-group">
                                 <input type="password" class="form-control form-control-user" name="password"
                                    placeholder="Enter Password">
                              </div>
                              <div class="form-group">
                                 <input type="password" class="form-control form-control-user" name="rePassword"
                                    placeholder="Enter Password again">
                              </div>
                              <input type="hidden" name="userId" value="<% if (userId) { %><%= userId%><% }%>">
                              <input type="hidden" name="token" value="<%if (resetToken) {%><%= resetToken%><%}%>">
                                 <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Reset Password
                                 </button>
                              </form>
                              <hr>
                              <!-- <div class="text-center">
                           <a class="small" href="/userregister.html">Create an Account!</a>
                        </div> -->
                        <div class="text-center">
                           <a class="small" href="/user/login">Already have an account? Login!</a>
                        </div>
                     </div>
                  </div>
                  </div>
               </div>
            </div>

         </div>
         
      </div>
      
   </div>
</div>
<%- include('../layout/end.ejs'); %>